<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   
   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution"
	 		objectClass="org.eclipse.core.runtime.IAdaptable">
         	<menu 
                label="Build"
                id="Build"> 
            <separator name="conf"> </separator> 
            </menu> 
             
            
            <action 
                label="McloudBuild"
                class="com.unicom.mcloud.devops.plugin.build.Login"
                menubarPath="Build/additions"
                id="cn.com.action.jenkins.Login"> 
            </action>
            
            <action 
                label="Projects"
                class="com.unicom.mcloud.devops.plugin.build.projects"
                menubarPath="Build/additions"
                id="cn.com.action.jenkins.projects"> 
            </action>
            
		</objectContribution>
	</extension>
   

</plugin>
